

.logaut{
    width: 10%;
    height: 40px;
    align-items: center;
    background: #F44334;
    border-radius: 8px;
    font-weight: 700;
    font-size: 12px;
    line-height: 140%;
    text-align: center;
    color: #FFFFFF;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 80%;
}
.saved-posts{
    gap: 10px;
}
.saved-post{
    overflow-y: auto;
    background: #dadcdd;
    margin-bottom: 20px;
    border-radius: 10px;
}
.posts-sav{
    width: 100%;
    border-radius: 8px;
    display: flex;
    
}
.posts-item{
    width: 56%;
}
.posts-title{
    font-weight: 700;
    font-size: 15px;
    line-height: 140%;
    
    color: #344767;
}
.posts-desc{
    color: #7B809A;
    font-weight: 400;
    font-size: 13px;
    line-height: 140%;
}
.posts-links{
    margin-left: auto;
    display: flex; 
    gap: 36px;
    width: 0;
    transform: translateX(190px);
}
.posts-delete{
    cursor: pointer;
    height: 5px;
    display: flex;
    text-decoration: none;
    font-weight: 700;
    font-size: 12px;
    line-height: 140%;
    color: #F44334;
}
.posts-delete::before{
    content: "";
    width: 15px;
    height: 17px;
    margin-right: 10px;
    background: url(../img/delete.png) no-repeat;
    background-size: contain;
    display: inline-block;
    align-items: center;
}

.posts-edit{
    cursor: pointer;
    height: 5px;
    display: flex;
    text-decoration: none;
    font-weight: 700;
    font-size: 12px;
    line-height: 140%;
    color: #344767;
}
.posts-edit::before{
    content: "";
    width: 15px;
    height: 17px;
    margin-right: 10px;
    background: url(../img/pencil.png) no-repeat;
    background-size: contain;
    display: inline-block;
    align-items: center;
}
.posts-save{
    cursor: pointer;
    transform: translateY(45px) translateX(-85px);
    height: 5px;
    display: flex;
    text-decoration: none;
    font-weight: 700;
    font-size: 12px;
    line-height: 140%;
    color: #7EFF41;
}
.posts-save::before{
    content: "";
    margin-right: 10px;
    width: 15px;
    height: 17px;
    background: url(../img/save.png) no-repeat;
    background-size: contain;
    display: inline-block;
    align-items: center;
}



.saved{
    background: #F8F9FA;
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
}
.saved-item{
    width: 56%;
}
.saved-title{
    font-weight: 700;
    font-size: 15px;
    line-height: 140%;
    
    color: #344767;
}
.saved-desc{
    color: #7B809A;
    font-weight: 400;
    font-size: 13px;
    line-height: 140%;
}
.saved-delete{
    display: flex;
    text-decoration: none;
    font-weight: 700;
    font-size: 12px;
    line-height: 140%;
    color: #F44334;
}
.saved-delete::before{
    content: "";
    width: 15px;
    height: 17px;
    margin-right: 10px;
    background: url(../img/delete.png) no-repeat;
    background-size: contain;
    display: inline-block;
    align-items: center;
}

/* Edit stiyles */

.my-modal{
    width: 100%;
    height: 100vh;

    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(50, 44, 44, 0.301);
    z-index: 99;
    backdrop-filter: blur(4px);

    display: flex;
    justify-content: center;
    align-items: center;

    visibility: hidden;
    opacity: 0;
}
.my-modal--active{
    visibility: visible;
    opacity: 1;
}
.my-modal-title{
    font-weight: 700;
    font-size: 31px;
    line-height: 140%;
    align-items: center;
    text-align: center;
    color: #6A6A6A;
}
.my-modal-content{
    max-width:60%;  
    min-width: 600px;
    min-height: 400px;
    max-height: 80%;
    background: #F5F5F5;
    border-radius: 10px;
    padding: 30px;
}

.modal-form{
    background: transparent;
    width: 100%;
    height: 40vh;
    border: none;
}

.modal-form-title{
    width: 80%;
    height: 6vh;
    transform: translateY();
    border: 1px solid #C7CCD0;
    border-radius: 8px;
    margin-top: 10%;
}
.modal-form-body{
    margin-top: 8%;
    width: 80%;
    height: 6vh;
    border: 1px solid #C7CCD0;
    border-radius: 8px;
}
.modal-form-cancel{
    background: #D9D9D9;
    border-radius: 8px;
    font-weight: 700;
    font-size: 12px;
    width: 75px;
    height: 35px;
    line-height: 140%;
}

.modal-form-save{
    background: linear-gradient(180deg, #E93B77 0%, #DA1F63 100%);
    border-radius: 8px;
    font-weight: 700;
    font-size: 12px;
    line-height: 140%;
    width: 95px;
    height: 35px;
    text-align: center;    
    color: #FFFFFF;
}

